{% extends 'base.html' %}

{% block content %}

<div class="card-body"></div>
    {% for note in notes_list %}
        <ul>
            <li><a href="{% url 'notes_detail' pk=note.pk %}">{{ note.title }}</a></li>
        </ul>
    {% endfor %}
</div>

<div class = "btn" style="position: fixed; bottom: 20px; right: 20px;">
    <a class = "btn btn-primary" role = "button" href="{% url 'notes_add' %}">Create</a>
</div>


<style>
    .btn {
        right: 10px;
    }

    .card-body {
        padding: 20px;
    }
</style>

{% endblock content %}